# i3blocks config file

command=~/.config/i3blocks/$BLOCK_NAME/$BLOCK_NAME
separator_block_width=15
markup=none

[volume]
label=volume:
interval=1
signal=10

[wifi]
command=~/.config/i3blocks/wifi/wifi
INTERFACE=wlp58s0
label=wifi:
interval=60

[battery]
label=battery:
interval=60

[time]
command=date '+%Y-%m-%d %H:%M'
interval=60
